termcolor
#gluoncv==0.7.0
gluoncv==0.8.0

goto-statement==1.2
imutils
#mxnet
#mxnet-cu100
# 在 noetbook 上
# mxnet-cu114
pika==1.1.0
torch==1.10.0
torchvision
requests_toolbelt
simplejson
scikit-learn
#opencv-python
webcolors==1.10
#numpy==1.19


