<form action="/meetinglist" method="POST">
  <div class="form-row">
    <div class="col-sm-13 my-1">
      <label for="newStuff" class="sr-only">New Stuff:</label>
      <input type="text" class="form-control" name="name" id="newStuff" placeholder="会议名字">
      <input type="text" class="form-control" name="participants" id="newStuff" placeholder="参与者姓名">
      <input type="text" class="form-control" name="host" id="newStuff" placeholder="会议主持人">
    </div>
    <hr/>
    <div class="col-sm-12 my-1">
      <button type="submit" class="btn btn-primary btn-block">Add</button>
    </div>
  </div>
</form>