#tensorflow==1.0
#如果你的系统能装上gpu版本的tf，就注释掉上面第一行，然后打开下面的tensorflow-gpu
#tensorflow-gpu==1.14.0

torch==1.12.1
torchvision==0.14.0
numpy
matplotlib
termcolor
jupyter


#或者注释掉上面，使用下面的：
#pandas
#torch>=0.4.0
#torchvision>=0.2.1
#numpy
#scikit-learn
#scipy>=1.0.1
#scikit-image>=0.13.0
#matplotlib>=1.5.1
#tqdm>=4.28.1
#jupyter
