# 我本机使用的是这个下面的版本：
numpy
matplotlib
termcolor
jupyter
torch==1.12.1
torchvision==0.14.0


#或者注释掉上面的库，打开下面的库的注释，使用下面的：
#pandas
#torch>=0.4.0
#torchvision>=0.2.1
#numpy
#scikit-learn
#scipy>=1.0.1
#scikit-image>=0.13.0
#matplotlib>=1.5.1
#tqdm>=4.28.1
#jupyter
