<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="./static/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <script src="./static/webuploader/webuploader.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="./static/bootstrap-4.5.2-dist/css/bootstrap.min.css">
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <form class="form-inline my-2 my-lg-0 navbar-right" action="/home" method="POST">

                <div class="form-group">
                  <input type="text" name="keyword" placeholder="search" class="form-control" autofocus>&nbsp;
                 
                </div>
          
              <input type="submit" value="Search" class="btn btn-success">
        </form>
      </li>

      <li class="nav-item active">
         {% if  session['logged_in'] %}
         <a class="nav-link" href="/logout">logout <span class="sr-only">(current)</span></a>

  {% endif %}
      </li>


    </ul>

  </div>
</nav>



<!--            <div style="margin:50px 0 0 50px;">
        <div id="picker" style="float:left;">upload-correct-answer</div>
        <div id="progress" class="progress" style="width:500px;float:left;margin:10px 0 0 20px;">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%;"></div>
        </div>
        <div style="clear:both;"></div>
         </div> -->


<br/>
<form class="form-horizontal" action="/student_work" method="POST">
<div class="container">




  <div class="row">
        <div class="col-sm-4">
       <label for="code">file upload</label>
       
    </div>
    <div class="col-sm-8">
           <div >
        <div id="picker" style="float:left;">上传故障文件csv</div>
        <div id="progress" class="progress" style="width:500px;float:left;margin:10px 0 0 20px;">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%;"></div>
        </div>
        <div style="clear:both;"></div>
         </div>


    </div>
  </div>



      <div class="row">
    <div class="col-sm-6">

<button type="button"  class="btn btn-primary" onclick="jump_to_download()">查看下载结果</button>
    </div>
    <div class="col-sm-6">

<button type="button" class="btn btn-primary" onclick="back()">cancel</button>
    </div>
      </div>


</div>


<!--     <div class="container">
       <div class="row">
       <div class="col-md-8"> <div class="release_year">缺陷查找结果：</div>
       </div>
       </div>

          

          {% for r in compare_results %}
      <div class="row">
        <div class="col-md-12">
        <span>{{ r[0] }}</span> &nbsp;
        <span>{{ r[1] }}</span> &nbsp;  
        <span>{{ r[2] }}</span> &nbsp;  
        <span>{{ r[3] }}</span> &nbsp;  

        </div>
        </div>
           {% endfor %}

</div> -->


<table  class="table table-striped">
    <thead>
      <tr>
        <th>target</th>
        <th>source</th>
        <th>simliary-score</th>
        <th>fault level</th>
        <th>response</th>
      </tr>
    </thead>
    <tbody>
     {% for r in compare_results %}
        <tr>
          <td>{{ r[0] }}</td>
          <td>{{ r[1] }}</td>
          <td>{{ r[2] }}</td>
          <td>{{ r[3] }}</td>
          <td>{{ r[4] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


</form>


    <script type="text/javascript">
    $(document).ready(function() {

        var url = new URL(window.location.href);
        var course_id = url.searchParams.get("course_id");


        var task_id = WebUploader.Base.guid(); // 产生文件唯一标识符task_id
        var uploader = WebUploader.create({
            swf: './static/webuploader/Uploader.swf',
            server: '{{ url_for("upload_part") }}', // 上传分片地址
            pick: '#picker',
            auto: true,
            chunked: true,
            chunkSize: 20 * 1024 * 1024,
            chunkRetry: 3,
            threads: 1,
            duplicate: true,
            formData: { // 上传分片的http请求中一同携带的数据
                task_id: task_id,
            },
        });

        uploader.on('startUpload', function() { // 开始上传时，调用该方法
            $('#progress').show();
            $('.progress-bar').css('width', '0%');
            $('.progress-bar').text('0%');
            $('.progress-bar').removeClass('progress-bar-danger progress-bar-success');
            $('.progress-bar').addClass('active progress-bar-striped');
        });

        uploader.on('uploadProgress', function(file, percentage) { // 一个分片上传成功后，调用该方法
            $('.progress-bar').css('width', percentage * 100 - 1 + '%');
            $('.progress-bar').text(Math.floor(percentage * 100 - 1) + '%');
        });

        uploader.on('uploadSuccess', function(file) { // 整个文件的所有分片都上传成功后，调用该方法
            var data = { 'task_id': task_id, 'filename': file.source['name'], 'course_id': course_id };
            $.get('{{ url_for("upload_success") }}', data);
            $('.progress-bar').css('width', '100%');
            $('.progress-bar').text('100%');
            $('.progress-bar').addClass('progress-bar-success');
            $('.progress-bar').text(file.source['name'] + ' 上传完成');
        });

        uploader.on('uploadError', function(file) { // 上传过程中发生异常，调用该方法
            $('.progress-bar').css('width', '100%');
            $('.progress-bar').text('100%');
            $('.progress-bar').addClass('progress-bar-danger');
            $('.progress-bar').text('上传失败');
        });

        uploader.on('uploadComplete', function(file) { // 上传结束，无论文件最终是否上传成功，该方法都会被调用
            $('.progress-bar').removeClass('active progress-bar-striped');
        });

        $('#progress').hide();
    });

        function back()
{
     location.href = "http://localhost:5000/home";
     
}

        function jump_to_download()
{
     location.href = "http://localhost:5000/student_index";
}


    </script>
</body>
</html>