<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handtrackjs@latest/dist/handtrack.min.js"></script>
<script>
    {% include "sketch.js" %}

</script>

        <style>


        #icon {

        }

        .p5Canvas {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
}

    </style>
</head>

<body>   
    <div>
    回答问题/互动次数:
     <label id = "GFG">
       0
    </label>
    </div>

</body>

</html>